.complect__options--form{
    /* min-width: 70vh;
    max-width: 80%; */
}

/* INFOBLOCKS */
.grid-wrapper1 {
    /* max-width: 90%; */
    margin: 0 ;
    
    /* margin-top: 3vh; */
    display: grid;
    grid-gap: 1vh;
    grid-template-columns: 1fr 1fr;
    /* grid-auto-rows: minmax(12px, auto); */
    /* grid-template-rows: auto;*/
    grid-auto-flow: dense ;
    align-content: start;
    justify-content: start;
} 

@media (max-width: 1200px) {
    .grid-wrapper1 {
        /* max-width: 90%; */
        margin: 0;
        /* margin-top: 10vh; */
        display: grid;
        grid-gap: 1vh;
        grid-template-columns: 1fr 1fr;
        /* repeat(auto-fit, 20vh); */
        /* grid-auto-rows: minmax(12px, auto); */
        grid-template-rows: auto;
    } 
    .complect__options--form{
        min-width: 70vh;
        max-width: 80%;
        margin-left: 0;
    }
}
@media (max-width: 1024px) {
    .grid-wrapper1 {
        margin: 0;
        display: grid;
        grid-gap: 1vh;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    } 
  
}

@media (max-width: 768px) {
    .grid-wrapper1 {
        margin: 0;
        display: grid;
        grid-gap: 1vh;
        grid-template-columns: 70vh;
        grid-template-rows: auto;
        justify-content: center;
        
    } 

    .grid-item{
        /* background-color: chartreuse; */
        /* justify-content: center; */
        /* min-width: 40vh; */
    }
  
}

@media (max-width: 600px) {
    .grid-wrapper1 {
        margin: 0;
        display: grid;
        grid-gap: 1vh;
        grid-template-columns: 40vh;
        grid-template-rows: auto;
        justify-content: center;
        
    } 

    .grid-item{
        justify-content: center;
        /* padding: 0 3vh; */
        /* background-color: chartreuse; */
        /* justify-content: center; */
        /* min-width: 40vh; */
    }
  
}
.grid-item{
    /* background-color: chartreuse; */
    align-self: start;
    /* min-width: 40vh; */
}